/* Common styles */
body {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

a:hover {
    color: #999999;
}

a, a:visited {
    color: #f1f1f1;
    text-decoration: none;
}


/* Calendar styles*/

.calendar_section {
    width: 700px;
    margin: 30px auto 0;
    color: #808080;
}

.section_header {
    width: 100%;
    background-color: #37b8eb;
    color: #444444;
    font-size: 17px;
    line-height: 50px;
    border: 1px solid #cccccc;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.section_header a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 24px;
    vertical-align: middle;
}

.calendar_table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
    background-color: #fcfdfd;
    box-sizing: border-box;
    overflow: hidden;
}

.calendar_table tr th {
    font-size: 20px;
}

.calendar_table thead {
    background-color: #f1f1f1;
    line-height: 40px;
    border: 1px solid #cccccc;
}

.calendar_table tr td  {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    width: 100px;
    height: 80px;
    font-size: 20px;
    margin: 0;
    padding: 7px;
    vertical-align: top;
}

.calendar_table tr td span {
    display: block;
}

.dropdown {
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.today {
    background-color: #f1f1f1;
}

.event_date {
    background-color: #37b8eb;
}

#add_event_link {
    color: #808080;
    float: right;
    margin-right: 150px;
    margin-top: 10px;
    font-size: 25px;
}

#add_event_link a {
    color: #808080;
}


/*  Events page */

.events_section {
    width: 700px;
    color: #808080;
}

.event_holder {
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #37b8eb;
    font-size: 16px;
}

.event_heading {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #37b8eb;
    border-color: #37b8eb;
}

.event_body {
    padding: 10px;
}

.event_body p span:not('.italic') {
    font-weight: bold;
}


.event_create_form{
    font-size: 20px;
}

span.error {
    color: #f00;
}

.event_create_form div{
    margin-bottom: 20px;
}

.event_create_form select{
    width:170;
    height:30px
}

.event_create_form input{
    width:170;
    height:30px;
}

.event_create_form textarea{
    width:170;
    height:60px;
}

.event_create_form label{
  display: inline-block;
  width: 150px; 
}

.submit{
  font-size:20px;
}

.event_create_form a{
  margin-left:50px;
}
